body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f5f5f5;
  text-align: center;
  direction: rtl;
}

header {
  background:rgb(226, 230, 233);
  padding: 20px;
}
 header img {
            max-width: 100px;
        }

.logo {
  width: 20px;
  display: block;
  margin: 0 auto;
}

h1 {
  color: rgb(9, 130, 187);
  margin-top: 10px;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 10px;
  color: #333;
}

.link {
  display: inline-block;
  margin-top: 10px;
  color: #0077cc;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

footer {
  background: #333;
  color: white;
  padding: 10px;
  margin-top: 20px;
}

/* أيقونة واتساب ثابتة */
.whatsapp-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  z-index: 1000;
}

.whatsapp-icon img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}